extends /src/views/layouts/default

block content
  <svg class="page-logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 115 40"><path fill="#005FF9" d="M113.75 4.06h-3.66v24.86h3.66V4.06Z"/><path fill="#005FF9" fill-rule="evenodd" d="M106.13 28.92h-3.66V11.3h3.66v17.62ZM104.3 3.44a2.47 2.47 0 1 1 0 4.95 2.47 2.47 0 0 1 0-4.95ZM98.52 28.9h-3.6v-1.92a7.9 7.9 0 0 1-5.7 2.38 9.27 9.27 0 0 1 0-18.52c2.13 0 4.29.8 5.7 2.22V11.3h3.6V28.9Zm-9.19-14.36a5.43 5.43 0 0 1 5.63 5.56c0 3.3-2.48 5.58-5.63 5.58a5.47 5.47 0 0 1-5.54-5.58c0-3.15 2.4-5.56 5.54-5.56ZM53.08 28.9h-3.6V11.3h3.6v1.23c.8-.75 2.3-1.68 4.38-1.68a6.9 6.9 0 0 1 5.76 2.8 8.2 8.2 0 0 1 6.18-2.8c4.5 0 7.56 3.03 7.56 7.77v10.3h-3.6V18.6a4.17 4.17 0 0 0-8.34 0v10.3h-3.6V18.6a4.17 4.17 0 0 0-8.34 0v10.3Z" clip-rule="evenodd"/><path fill="#FF9E00" d="M25.28 19.8a5.82 5.82 0 1 1-11.64-.02 5.82 5.82 0 0 1 11.64.01ZM19.47.47A19.34 19.34 0 0 0 .15 19.79a19.34 19.34 0 0 0 30.2 15.96l.05-.04-2.6-3.02-.04.02A15.37 15.37 0 0 1 4.1 19.8c0-8.47 6.89-15.35 15.36-15.35a15.37 15.37 0 0 1 15 18.65c-.5 2-1.89 2.6-2.94 2.53-1.05-.09-2.28-.84-2.3-2.68V19.8a9.78 9.78 0 0 0-19.53 0 9.78 9.78 0 0 0 16.69 6.89 6.28 6.28 0 0 0 5.35 2.9c1.4 0 2.8-.46 3.92-1.32a7.28 7.28 0 0 0 2.5-3.68l.21-.81v-.02A19.34 19.34 0 0 0 19.47.48"/></svg>
  h1.page-title.wrapper День рождения Календаря и Заметок! Отмечаем тестом
  include ../../blocks/sections/s_quiz/s_quiz.pug
  include ../../blocks/sections/s_slider/s_slider.pug
  include ../../blocks/sections/s_done/s_done.pug