.ico-mono-calendar {
  width: 1em;
  height: 1em;
  fill: curretColor;
}
.ico-mono-chek {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-mono-link-arrow {
  width: 2.73em;
  height: 1em;
  fill: #2C2D2E;
}
.ico-mono-next-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-palette {
  width: 1em;
  height: 1em;
  fill: curretColor;
}
.ico-mono-pen {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-prev-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-stars {
  width: 1em;
  height: 1em;
  fill: curretColor;
}
